<!DOCTYPE html>
<html>
	<head>
		<title>My First View!!</title>
	</head>
	<body>
		<h1>Info Page</h1>
    <p>This is the info page:</p>
		<p>This HTML code is inside of the 'Info Page' '.erb' file in the views directory, where it belongs.</p>
  </body>
</html>
<!-- <!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>My First View!!</title>\n\t</head>\n\t<body>\n\t\t<h1>Info Page</h1>\n\t\t<p>This HTML code is inside of the 'Info Page' '.erb' file in the views directory, where it belongs.</p>\n\t</body>\n</html>\n -->
